.body{
    background-color: black;
}
.navbar{
    background-color: black;
    color: white;
}
.form-control{
    background: transparent;
    border: transparent;
    color: black;
}

.navbar-brand{
    color:white;
}
.TextOben {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 150px;
    overflow: auto;
    flex-direction: row;
    gap: 180px;
    background-color: aqua;
}

.TextOben div {
    width: 2500px;
    height: 100px;
    margin: 21px;
    font-weight:900;
    text-align: center;
    font-size: xx-large;
    
    
}
.FlexContainerOben {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 300px;
    overflow: auto;
    flex-direction: row;
    gap: 180px;
}

.FlexContainerOben div {
    width: 250px;
    height: 250px;
    margin: 21px;
    
    
}
h1{
    text-align: center;
    font-weight: 300%;
}

h3{
    text-align: center;
    font-weight: 300%;
}

h5{
    text-align: center;
    font-weight: 300%;
}


.Unterschrifft{
    font-size: medium;
    text-align: center;
}
.FlexUnterOben {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 200px;
    overflow: auto;
    flex-direction: row;
    gap: 180px;
   
}

.FlexUnterOben div {
    width: 250px;
    height: 80px;
    margin: 21px;
    text-align:center;
    font-weight:600  ;
    
}

.Angebot{
    color:red
}

.AngebotPro{
    text-decoration: line-through;
}

li{
    font-weight: 600;
}

.FlexContainerUnten {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 300px;
    overflow: auto;
    flex-direction: row;
    gap: 180px;
    
    
}

.FlexContainerUnten div {
    width: 250px;
    height: 250px;
    margin: 21px;
    
    
}

.FlexUnterUnten {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 200px;
    overflow: auto;
    flex-direction: row;
    gap: 180px;
}

.FlexUnterUnten div {
    width: 250px;
    height: 80px;
    margin: 21px;
    text-align:center;
    font-weight:600  ;
    
}

.btn{
    background-color:white;
    color: black;
}

.AnsGrid {

    display: flex;
         

    
    height: 300px;
    padding: 15px;
    gap: 5px;

  }

  .AnsGrid > div{
    
    border: 3px solid rgb(133, 79, 125);
    border-radius: 5px;
    padding: 8px;
  }


  .AnsGrid1{ 
    width: 300px;
    margin-left: 200px;
    
  }
			
  .AnsGrid2{
    width: 1600px;
    margin-right: 200px;
    font-size:25px;
  }

  .AnsBilder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 300px;
    overflow: auto;
    flex-direction: row;
    gap: 180px;
    
    
}

.AnsBilder div {
    width: 250px;
    height: 250px;
    margin: 21px;
    
    
    
}

.AnsText {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 200px;
    overflow: auto;
    flex-direction: row;
    gap: 180px;
}

.AnsText div {
    width: 250px;
    height: 100px;
    margin: 21px;
    text-align:center;
    font-weight:600  ;
    border: 3px solid rgb(133, 79, 125);
    
}

.AnsButton {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 200px;
    overflow: auto;
    flex-direction: row;
    gap: 180px;
}

.AnsButton div {
    width: 250px;
    height: 50px;
    margin: 21px;
    text-align:center;
    font-weight:600  ;
   
}
	button{
        width: 250px;
        height: 50px;
        
        font-weight: 600;
    }

    .RezonGrid {

        display: flex;
             
    
        
        height: 300px;
        padding: 15px;
        gap: 5px;
    
      }
    
      .RezonGrid > div{
        
        border: 3px solid rgb(133, 79, 125);
        border-radius: 5px;
        padding: 8px;
      }
    
    
      .RezonGrid1{ 
        width: 300px;
        margin-left: 200px;
        
      }
                
      .RezonGrid2{
        width: 1600px;
        margin-right: 200px;
        font-size:25px;
      }
    
      .RezonBilder {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 300px;
        overflow: auto;
        flex-direction: row;
        gap: 180px;
        
        
    }
    
    .RezonBilder div {
        width: 250px;
        height: 250px;
        margin: 21px;
        
        
        
    }
    
    .RezonText {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 200px;
        overflow: auto;
        flex-direction: row;
        gap: 180px;
    }
    
    .RezonText div {
        width: 250px;
        height: 100px;
        margin: 21px;
        text-align:center;
        font-weight:600  ;
        border: 3px solid rgb(133, 79, 125);
        
    }
    
    .RezonButton {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 200px;
        overflow: auto;
        flex-direction: row;
        gap: 180px;
    }
    
    .RezonButton div {
        width: 250px;
        height: 50px;
        margin: 21px;
        text-align:center;
        font-weight:600  ;
       
    }
    #idAusgabeSumm{
        font-size: 30px;
    }